* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1 {
  text-align: center;
}

thead,
span {
  background: rgb(125, 196, 125);
}

span {
  display: inline-block;
  width: 30px;
  border-radius: 5px;
  text-align: center;
  height: 30px;
  padding: 4px;
}

td {
  text-align: center;
}

button {
  background-color: rgb(125, 196, 125);
  width: auto;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.actionBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}
table {
  border-bottom: 2px solid rgb(125, 196, 125);
}
